.container {
    display: grid;
    grid-template-rows: 6em 1fr 2em;
    min-height: 100vh;
    min-width: 100vw;
}

.header{
    background-color: aqua;
}

.footer{
    background-color: aqua;
}

.main{
    padding-top: 20px;
    padding-bottom: 20px;

    display: flex;
    justify-content: center;
}