.container {
    display: grid;
    grid-template-rows: 8em 1fr 2em;
    min-height: 100vh;
    min-width: 100vw;
}

.header{
    background-color: rgb(33, 33, 33);
    color: aliceblue;

    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 3em;
}

.main{
    padding-top: 20px;
    padding-bottom: 20px;

    display: flex;
    justify-content: center;
}

.stopwatch{
    color: skyblue;
}